#startScreen {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
}

#startElement {
    width: 30vw;    
    background-color: rgb(219, 51, 51);
    border: 10px gold solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 7rem;
    color: white;
    line-height: normal;
}

img  {
    width: 80%;
    margin-bottom: 3rem; 
    
    &:hover {
        filter: brightness(1.7);
        cursor: pointer;
    }
}


@media screen and (max-width: 1200px){
    h1 {
        font-size: 4rem;
    }

    #startElement {
        width:70vw;
    }
}

@media screen and (max-width: 350px){
    h1 {
        font-size: 1.5rem;
        padding-top: 1rem;
    }

    #startElement {
        width:90vw;
        align-items: center;
    }
    
    img  {
        width: 60%;
    
    }

    .br {
        display:none;
    }

}