#gameScreen {
    position: relative;
    background-image: url('/assets/background.jpg');
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

img {
    position: absolute;
    width: 150px;
    height: 200px;
}

#cardTop {
    transition: all 125ms ease-in-out;
    margin-right: 20px; 
}

#cardTop:hover {
    transform: scale(1.2);
    transition: all 125ms ease-in-out;
}

.cardAnimation {
    animation: turntheCard 2s ease-in-out forwards;    
}

#showCurrentCard {
    transform: translateX(300px) translateY(-100px) rotate(-10deg);    
}



#playersComponent {
    position: absolute;
    top: 50px;
    right: 0%;
    max-height: 80vh;
    overflow-y: auto;
}

.higlightPlayer {
   background-color: green;
}

#worngScreenSize {
    display: none;
}

.rules {
    display: absolute;    
}

#gameOverScreen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayNone {
    display: none !important;
}

@keyframes turntheCard {    

    20% {
        transform: scale(1.1) translateY(100px);
    }

    40% {
        transform: scale(1.1) translateY(100px);        
    }


    60% {
        transform: translateX(300px) translateY(-100px);
    }

    80% {
        transform: translateY(-100px) translateX(300px);
    }

    100% {
        transform: translateX(300px) translateY(-100px) rotate(-10deg);
    }    
}


@media screen and (max-width:1350px) {

    #gameScreen {
        
        justify-content: space-between;
    }

    img {padding-left: 2rem;}

    
}

@media screen and (max-width:700px) {
    #worngScreenSize {
        display:flex;
        justify-content: center;
        align-items: center;
        padding-left: 2rem;
        padding-right: 2rem;
        z-index: 5;
        width: 80vw;
        height: 100vh;
    }

    #gameScreen {
        display: none;
    }

    .rules {
        display: none;
    }
}