
    <h1 mat-dialog-title> Spieler hinzufügen</h1>
    <div mat-dialog-content>
        <p>Wie heißt der Spieler</p>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="name">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">No Thanks</button>
        <button *ngIf="name" mat-button [mat-dialog-close]="name" cdkFocusInitial>Spieler hinzufügen</button>
    </div>
